[package]
name = "ariel-os-sensor-sht3x"
# This crate is versioned separately from Ariel OS.
version = "0.1.0"
edition.workspace = true
# This crate's MSRV is decoupled from Ariel OS's.
rust-version = "1.90"
repository.workspace = true
license.workspace = true

[dependencies]
ariel-os-hal = { workspace = true, features = ["i2c"] }
ariel-os-sensors = { workspace = true, features = ["max-sample-min-count-2"]}
ariel-os-sensors-utils = { workspace = true}
embassy-sync = { workspace = true }
embassy-time = { workspace = true }
embedded-hal-async = { workspace = true }
portable-atomic = { workspace = true }

crc = { version = "3.4.0" }

[dev-dependencies]
critical-section = { workspace = true, features = ["std"] }
embassy-executor = { workspace = true, features = [
  "arch-std",
  "executor-thread",
] }
embassy-futures = { workspace = true, optional = true }
embassy-time = { workspace = true, features = ["std"] }

[features]
_test = []

# Feature that enables one-shot measurements without requiring
# the sensor to run in a separate task
no_runner = ["dep:embassy-futures"]

[lints]
workspace = true
