name: PR title checks

on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  pr-title:
    name: Lint PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Install committed
        uses: taiki-e/install-action@68675c5a5f1a6950c3975d33f3ae0ef155e5bf3d # v2
        with:
          tool: committed

      - run: committed --config committed.toml --commit-file <(echo "${PR_TITLE}")
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
