name: PR title checks

on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  pr-title:
    name: Lint PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Install committed
        uses: taiki-e/install-action@6cc14f7f2f4b3129aff07a8b071d2d4f2733465d # v2
        with:
          tool: committed

      - run: committed --config committed.toml --commit-file <(echo "${PR_TITLE}")
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
